<footer>
    <div class="container__footer">
        <div class="box__footer">
            <h5>Cloud Jumpers</h5>
            <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo sequi atque tempora consectetur culpa ducimus odit blanditiis, quia, dignissimos voluptatibus rerum porro reprehenderit corporis voluptas accusamus enim amet aliquid quasi.</p>
        </div>

        <div class="box__footer">
            <h5>Contact Team</h5>
            <ul>
                <li><a href="#!"><i class="fa-brands fa-linkedin"></i> Jonathan Rojas</a></li>
                <li><a href="#!"><i class="fa-brands fa-linkedin"></i> José Guerra</a></li>
                <li><a href="#!"><i class="fa-brands fa-linkedin"></i> Adrián Bastidas</a></li>
                <li><a href="#!"><i class="fa-brands fa-linkedin"></i> Luis Gonzales</a></li>
                <li><a href="#!"><i class="fa-brands fa-linkedin"></i> Alberth</a></li>
            </ul>
        </div>

        <div class="box__footer">
            <h5>Soporte</h5>
            <div>
                <ul>
                    <li><a href=""><i class="fa-solid fa-envelope"></i> Correo Electrónico:</a></li>
                    <li class="email_text">correo@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="box__copyright">
        <hr>
        <p>© 2023 Copyright <b>Cloud Jumpers</b></p>
    </div>
</footer>

  <!-- <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>Cloud Jumpers</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut est veritatis ea ex rem eius quae ipsum sint praesentium voluptatibus amet modi, suscipit, repellat quibusdam? Ab molestias harum nesciunt nobis.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5>Team</h5>
        <ul>
          <li><a href="#!">Jonathan Rojas</a></li>
          <li><a href="#!">José Guerra</a></li>
          <li><a href="#!">Adrián Bastidas</a></li>
          <li><a href="#!">Luis Gonzales</a></li>
          <li><a href="#!">Alberth</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2023 Copyright Text
    <a href="#!">Lima, Perú</a>
    </div>
  </div> -->