<footer>
    <div class="container__footer">
        <div class="box__footer">
            <h5>Cloud Jumpers</h5>
            <p class="description">Equipo HUAWEI</p>
        </div>

        <div class="box__footer">
            <h5>Contact Team</h5>
            <ul>
                <li><a href="#!"><i class="fa-brands fa-linkedin"></i> Jonathan Rojas</a></li>
                <li><a href="#!"><i class="fa-brands fa-linkedin"></i> José Guerra</a></li>
                <li><a href="#!"><i class="fa-brands fa-linkedin"></i> Adrián Bastidas</a></li>
                <li><a href="#!"><i class="fa-brands fa-linkedin"></i> Luis Gonzales</a></li>
                <li><a href="#!"><i class="fa-brands fa-linkedin"></i> Alberth</a></li>
            </ul>
        </div>

        <div class="box__footer">
            <h5>Soporte</h5>
            <div>
                <ul>
                    <li><a href=""><i class="fa-solid fa-envelope"></i> Correo Electrónico:</a></li>
                    <li class="email_text">jhonatan@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="box__copyright">
        <hr>
        <p>© 2023 Copyright <b>Cloud Jumpers</b></p>
    </div>
</footer>