<section>
  <div class="background_dsc">
    <img src="assets/health1.jpeg" alt="Portada DSC">
  
    <div class="row background-button">
      <div class="col s6 m6 l3"><button>#MedTechRevolution</button></div>
      <div class="col s6 m6 l3"><button>#Hospital</button></div>
      <div class="col s6 m6 l3"><button>#Healthcare </button></div>
      <div class="col s6 m6 l3"><button>#Management</button></div>
    </div>
  </div>
  
  <div class="row">
    <h3 class="col s12"> Transformando la Experiencia del Paciente</h3>
    <div class="col s12">
      <p class="description">
        Este proyecto presenta una plataforma integrada que permite tanto a pacientes como a médicos de entidades públicas optimizar 
        tanto el correcto flujo que experimentan los pacientes dentro de las redes cubiertas por sus seguros, como la gestión de registros 
        médicos centralizados, todos integrados bajo herramientas nativas de la nube para mejorar la experiencia del usuario como asistentes virtuales. 
      </p>
    </div>
  </div>

  <div class="row">
    <h3 class="col s12"> Eficiencia y Colaboración Médica sin Fronteras</h3>
    <div class="col s12">
      <p class="description">El médico podrá disponer de una plataforma de búsqueda que le permita resumir o filtrar mediante su DNI. La plataforma permite al médico crear nuevas historias y buscar historias de los pacientes de forma rápida.  
      </p>
    </div>
  </div>

  <div class="row">
    <h3 class="col s12"> Sobre la Aplicación</h3>
    <div class="col s12">
      <p class="description"> La plataforma incluye una vista pública donde los pacientes podrán conocer mediante consultas al CHATBOT, según su seguro, información básica como la ubicación correcta a visitar más cercana a su hogar, luego una vista segura protegida por un inicio de sesión con credenciales únicas para acceder a una plataforma interna donde el médico puede subir información fácilmente a la base de datos en lugar de hacerlo en papel, llegando a una base de datos global donde diferentes entidades tanto públicas como privadas comparten información. Finalmente, el médico podrá disponer de una plataforma de búsqueda que le permita resumir o filtrar los datos históricos para proceder a tomar medidas de forma más ágil.  
      </p>
    </div>
  </div>
</section>