<!-- <h1>Formulario de Inscripción</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-register">
    <label for="name">Name</label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name">
    <p>Mensaje de Error</p>
  </div>
  <div class="input-register">
    <label for="university">University</label>
    <input type="text" name="university" required id="university" [(ngModel)]="register.university">
    <p>Mensaje de Error</p>
  </div>
  <div class="input-register">
    <label for="age">Age</label>
    <input type="number" name="age" required id="age" [(ngModel)]="register.age">
    <p>Mensaje de Error</p>
  </div>
  <div class="input-register">
    <label for="email">Email</label>
    <input type="email" name="email" required id="email" [(ngModel)]="register.email">
    <p>Mensaje de Error</p>
  </div>
  <div class="input-register">
    <label for="password">Password</label>
    <input type="password" name="password" required id="password" [(ngModel)]="register.password">
    <p>Mensaje de Error</p>
  </div>

  <button [disabled]="myForm.invalid" type="submit">Enviar Formulario</button>
  <button type="button">Other Action</button>
</form> -->
<p>hola</p>
