<nav>
    <div class="nav-wrapper">
        <div class="container"> <a href="/home" class="brand-logo">Cloud Jumpers</a></div>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down" id="seccion">
        <li><a href="/home">Home</a></li>
        
        <li *ngIf="!userLoginOn"><a href="/login">Iniciar Sesión</a></li>
        <li *ngIf="userLoginOn"><a href="/login">Cerrar Sesión</a></li>
      </ul>
    </div>
  </nav>
  
  <ul class="sidenav" id="mobile-demo">
    <li><a href="/home">Home</a></li>
    
    <li *ngIf="!userLoginOn"><a href="/login">Iniciar Sesión</a></li>
    <li *ngIf="userLoginOn"><a href="/login">Cerrar Sesión</a></li>
  </ul>