<div class="container">
    <h1>Busqueda de Historias Clínicas</h1>
    <div class="row">
        <div class="col s12">
            <div class="input-field col s12">
                <input type="text" class="form-control" name="filterDNI" placeholder="Busqueda por DNI"
                    [(ngModel)]="filterDNI">
            </div>
        </div>

        <div class="responsive-table">
            <table class="striped">
                <thead>
                    <tr>
                        <th>DNI<br />&nbsp;</th>
                        <th>FECHA<br />&nbsp;</th>
                        <th>PATOLOGÍAS<br />&nbsp;</th>
                        <th>ANT. QUIRUTJICOS<br />&nbsp;</th>
                        <th>RAMS<br />&nbsp;</th>
                        <th>RELATO CRONOL.<br />&nbsp;</th>
                        <th>DECISIONES<br />&nbsp;</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let user of users | filter:filterDNI">
                        <td>{{user.patient_dni}}</td>
                        <td>{{user.patient_date}}</td>
                        <td>{{user.patient_pathological_history}}</td>
                        <td>{{user.patient_surgical_history}}</td>
                        <td>{{user.patient_rams}}</td>
                        <td>{{user.patient_chronological_relation}}</td>
                        <td>{{user.patient_plan}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>