<div class="container">
    <h1>Busqueda de Historias Clínicas</h1>
    <div class="row">
        <div class="col s12">
            <div class="input-field col s12">
                <input type="text" class="form-control" name="filterDNI" placeholder="Busqueda por DNI" [(ngModel)]="filterDNI">
            </div>
        </div>
        
        <div class="responsive-table">
            <table class="striped">
                <thead>
                    <tr>
                        <th>DNI<br/>&nbsp;</th>
                        <th>Name<br/>&nbsp;</th>
                        <th>Date<br/>&nbsp;</th>
                        <th>Relato<br/>&nbsp;</th>
                        <th>Plan<br/>&nbsp;</th>
                        <th>RAMS<br/>&nbsp;</th>
                        <th>HISTORIA<br/>&nbsp;</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr *ngFor="let user of users | filter:filterDNI">
                        <td>{{user.dni}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.date}}</td>
                        <td>{{user.pat_chrono_rel}}</td>
                        <td>{{user.pat_plan}}</td>
                        <td>{{user.pat_rams}}</td>
                        <td>{{user.pat_path_hist}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        

    </div>
</div>